







<footer id="footer" >
   
    <div class="social-icon">
        <a class="inside-social-icon" href="https://www.facebook.com/nikhil.prakash.520/"><i data-aos="slide-up" class="social-margin fab fa-facebook-f"></i></i></a> 
        <a class="inside-social-icon" href="https://www.linkedin.com/in/nikhil-prakash-874487176"><i data-aos="slide-up" class="fab fa-linkedin-in"></i> </a>
        <a class="inside-social-icon" href="https://www.instagram.com/nikhilprakash2012/"><i data-aos="slide-up" class="social-margin fab fa-instagram"></i> </a>
        <a class="inside-social-icon" href="https://github.com/nikhil-03"><i data-aos="slide-up" class="social-margin fab fa-github"></i> </a>
    
    </div>

    <div class="copyright">
        <p>© Copyright 2021 NIKHIL</p>
        <p>BIT Mesra</p>
    </div>

</footer>
<script type="text/javascript">
    AOS.init({
        duration : 1200,
    });
 </script> 
</body>
</html>
 <!-- <script rel="javascript" type="text/javascript" href="js/jquery-1.11.3.min.js"></script> --> 
