<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="All placement related topics and resources in a single page.From beginer to advanced level.Youtube video links.codeforces interviewbit leetcode CBES list dbms c++ OOPs operating system">
    <meta name="author" content="Nikhil Prakash" >
    <meta name="keywords" content="placement,interviewbit,leetcode,codeforces" > 

    <title>A Complete Package for Coding Preparation of internsips and placement</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/d745d679ce.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,100&display=swap" rel="stylesheet">
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>

<link rel="stylesheet" href="/styles.css">
<link rel="icon" href="/favicon.png" type="image/icon type">
<script data-ad-client="ca-pub-9407364125061598" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

   
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script rel="javascript" type="text/javascript" href="js/jquery-1.11.3.min.js"></script>
</head>
<body>






<div class="part-0">
    <div class="nav-bar">
        <!-- <%=found.name%> -->
        <img class="navbar-image" src="<%=found.img%>" alt="" srcset=""><%= found.name%>
     </div>
</div>




<div class="part1">
   <div data-aos="fade-up" class="my-image">
      <img src="nikhil2.png" alt="pic" width="100" height="100">
   </div>
   <div class="my-description">
       <h2 data-aos="fade-up">
          Heloo I'm NIKHIL
       </h2>
        <div class="description-content">
            <p data-aos="fade-up">Hello everyone, this is Nikhil Prakash. I am currently in my third year pursuing btech in Information Technology from BIT Mesra. This blog is my attempt to help 
                everyone in their coding preparation and related stuff. I will be providing all the resources that helped me during my time while I studied and prepared for different 
                examinations. Here by, I also admit that I am not the best coder to be guiding people and not the absolute best at what I do. This is just my way of helping fellow
                 coders so that they do not encounter the same problems I faced along the way.
            </p>
        </div>

   </div>
</div>



<div class="part2">
    <div class="level1">
        <a href="/level1"><h2 data-aos="fade-right">NOOBIE</h2></a> 
    </div>
    <div class="level1-extension zaxis-extension" data-aos="flip-left">
        <p>This level is for the one who has not coded even once in his entire life . This level covers input/output , if/else , while loop 
            , for loop and all important standard libraries.  Click for complete details </p>

    </div>
    <div class="level2">
        <a href="/level2"><h2 data-aos="fade-left">THEORY</h2></a>
    </div>
    <div class="level2-extension zaxis-extension">
        <p>In this level I'll be providing concepts of all the topics and refer you to the easy questions for implementation from the question section. The questions will be using arrays with pattern and
            even , odd , prime number concepts. Click for complete details </p>

    </div>
    <div class="level3">
        <a href="/level3"><h2 data-aos="fade-right">QUESTIONS</h2></a> 
    </div>
    <div class="level3-extension zaxis-extension">
        <p>In this level ill be giving questions from different web sites using all the concepts. Ill be providing the questions, hints ,
            my codes and youtube videos too in future. Click for complete details</p>

    </div>
    <div class="level4">
        <a href="/level4"><h2 data-aos="fade-left">PLACEMENT</h2></a> 
    </div>
    <div class="level4-extension zaxis-extension">
        <p>This is the most important level which will be a complete package for placement/ intern preparation. Ill be providing the
            syllabus , topics , sites, notes links which i used to refer for my preparation.</p>

    </div>
</div>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- login -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9407364125061598"
     data-ad-slot="2398896389"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<%- include("footer") -%> 