<!DOCTYPE html>
<html lang="en">
<head>
    <meta intset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="All placement related topics and resources in a single page">
    <meta name="author" content="Nikhil Prakash" >
    <meta name="keywords" content="placement,interviewbit,leetcode,codeforces" > 

    <title>Placement Topics and Resources</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/d745d679ce.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,100&display=swap" rel="stylesheet">
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>

<link rel="stylesheet" href="/styles.css">
<link rel="icon" href="/favicon.png" type="image/icon type">
<script data-ad-client="ca-pub-9407364125061598" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>   
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script rel="javascript" type="text/javascript" href="js/jquery-1.11.3.min.js"></script>
</head>
<body>



<div class="level4-main">
    <div class="topics-heading">
        <h1>Topics you should know</h1>
        <h4 data-aos="zoom-out-down" class="page-details">This is the most important level which will be a complete package for placement/ intern preparation. Ill be providing the
            syllabus , topics , sites, notes links which i used to refer for my preparation.</h4>
    </div>
    
    <hr>
    <div class="all-topics">
        <div class="topics-div"><a href="/contents/Time Complexity"><h3>Time Complexity</h3></a></div>
        <div class="topics-div"><a href="/contents/Arrays"><h3>Arrays</h3></a></div>
        <div class="topics-div"><a href="/contents/Maths"><h3>Maths</h3></a></div>
        <div class="topics-div"><a href="/contents/Binary Search"><h3>Binary Search</h3></a></div>
        <div class="topics-div"><a href="/contents/Two Pointers"><h3>Two Pointers</h3></a></div>
        <div class="topics-div"><a href="/contents/Link Lists"><h3>Linked Lists</h3></a></div>
        <div class="topics-div"><a href="/contents/Stacks and Queues"><h3>Stacks and Queues</h3></a></div>
        <div class="topics-div"><a href="/contents/Backtracing"><h3>Backtracking</h3></a></div>
        <div class="topics-div"><a href="/contents/Hashing"><h3>Hashing</h3></a></div>
        <div class="topics-div"><a href="/contents/Heaps and Maps"><h3>Heaps and Maps</h3></a></div>
        <div class="topics-div"><a href="/contents/Tree Data Structure"><h3>Tree Data Structure</h3></a></div>
        <div class="topics-div"><a href="/contents/Dynamic Programming"><h3>Dynamic Programming</h3></a></div>
        <div class="topics-div"><a href="/contents/Greedy Algrithm"><h3>Greedy Algorithm</h3></a></div>
        <div class="topics-div"><a href="/contents/Graphs"><h3>Graphs</h3></a></div>
        <div class="topics-div"><a href="/contents/Trie"><h3>Trie</h3></a></div>
    </div>
</div>

<div class="level4div2-main">
    <div class="topics-heading">
        <h1 class="resource-heading">DIRECT LINKS AND RESOURCES</h1>
    </div>
    <div class="resources-subhead">
        <div class="resources-div"><a class="resources-a" href="/contents/InterviewBit"><h3 class="resources">InterviewBit</h3></a></div>
        <div class="resources-div"><a class="resources-a" href="/contents/Leetcode"><h3 class="resources">Leetcode</h3></a></div>
        <div class="resources-div"><a class="resources-a" href="/contents/GFG Company-Wise"><h3 class="resources">GFG Company-Wise</h3></a></div>
        <div class="resources-div"><a class="resources-a" href="/contents/CodeForces"><h3 class="resources">CodeForces</h3></a></div>
        <div class="resources-div"><a class="resources-a" href="/contents/DBMS"><h3 class="resources">DBMS</h3></a></div>
        <div class="resources-div"><a class="resources-a" href="/contents/CP Algorithm"><h3 class="resources">CP Algorithm</h3></a></div>
        <div class="resources-div"><a class="resources-a" href="/contents/CSES Lists"><h3 class="resources">CSES Lists</h3></a></div>
        <div class="resources-div"><a class="resources-a" href="/contents/Operating System"><h3 class="resources">Operating System</h3></a></div>
        <div class="resources-div"><a class="resources-a" href="/contents/Object Oriented Programming"><h3 class="resources">Object Oriented Programming</h3></a></div>
    </div>
</div>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- login -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9407364125061598"
     data-ad-slot="2398896389"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
  
  
 


<%- include("footer") -%> 