<%- include("header") %>
<div class="level4-main">
    <div class="topics-heading">
        <h1>Topics you should know</h1>
    </div>
    <div class="all-topics">
        <div class="topics-div"><a href="http://"><h3>Time Complexity</h3></a></div>
        <div class="topics-div"><a href="http://"><h3>Arrays</h3></a></div>
        <div class="topics-div"><a href="http://"><h3>Maths</h3></a></div>
        <div class="topics-div"><a href="http://"><h3>Binary Search</h3></a></div>
        <div class="topics-div"><a href="http://"><h3>Two Pointers</h3></a></div>
        <div class="topics-div"><a href="http://"><h3>Link Lists</h3></a></div>
        <div class="topics-div"><a href="http://"><h3>Stacks and Queues</h3></a></div>
        <div class="topics-div"><a href="http://"><h3>Backtracing</h3></a></div>
        <div class="topics-div"><a href="http://"><h3>Hashing</h3></a></div>
        <div class="topics-div"><a href="http://"><h3>Heaps and Maps</h3></a></div>
        <div class="topics-div"><a href="http://"><h3>Tree Data Structure</h3></a></div>
        <div class="topics-div"><a href="http://"><h3>Dynamic Programming</h3></a></div>
        <div class="topics-div"><a href="http://"><h3>Greedy Algirithm</h3></a></div>
        <div class="topics-div"><a href="http://"><h3>Graphs</h3></a></div>
        <div class="topics-div"><a href="http://"><h3>Trie</h3></a></div>
    </div>
</div>
<div class="level4div2-main">
    <div class="topics-heading">
        <h1>DIRECT LINKS AND RESOURCES</h1>
    </div>
    <div>
        <div class=""><a href="http://"><h3>InterviewBit</h3></a></div>
        <div class=""><a href="http://"><h3>Leetcode</h3></a></div>
        <div class=""><a href="http://"><h3>GFG Company-Wise</h3></a></div>
        <div class=""><a href="http://"><h3>DBMS</h3></a></div>
        <div class=""><a href="http://"><h3>CP Algorithm</h3></a></div>
        <div class=""><a href="http://"><h3>CBCS Lists</h3></a></div>
        <div class=""><a href="http://"><h3>Operating System</h3></a></div>
        <div class=""><a href="http://"><h3>Object Oriented Programming</h3></a></div>
    </div>
</div>
  
  
  
 


<%- include("footer") -%> 