<%- include("header") %>

<div class="login-main">
    <div class="login-square">
        <div>
           <h4>Login to CodeBlogs</h4>
        </div>
        <div>
            <p>
                Due to the ongoing placement season, I will not be very active on this portal. 
                Nevertheless, I would be updating the blogs regularly from time to time (preferably daily). 
                Also you can send me any of your queries through the given message link. Happy learning!
            </p>
        </div>
        <div>
           <a href="/auth/google"><button class="btn btn-secondary btn-lg">G | Click to Login </button></a>
        </div>
    </div>
</div>
<!-- <div class="login-hr-div">
    <hr>
</div> -->

<%- include("footer") -%> 