<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="All placement related topics and resources in a single page.From beginer to advanced level.Youtube video links.codeforces interviewbit leetcode CBES list dbms c++ OOPs operating system">
    <meta name="author" content="Nikhil Prakash" >
    <meta name="keywords" content="placement,interviewbit,leetcode,codeforces" > 

    <title>Question levels</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/d745d679ce.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,100&display=swap" rel="stylesheet">
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>

<link rel="stylesheet" href="/styles.css">
<link rel="icon" href="/favicon.png" type="image/icon type">
<script data-ad-client="ca-pub-9407364125061598" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

   
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script rel="javascript" type="text/javascript" href="js/jquery-1.11.3.min.js"></script>
</head>
<body>


<div class="question-level">
  <h3>
      Decide the level of question you want to solve.
  </h3>
</div>






<div class="part2">
    <div class="level1 question-blocks">
        <a href="level3/easy"><h2 data-aos="fade-right">EASY</h2></a> 
    </div>
   
    <div class="level2 question-blocks">
        <a href="level3/medium"><h2 data-aos="fade-left">MEDIUM</h2></a>
    </div>
   
    <div class="level3 question-blocks">
        <a href="level3/hard"><h2 data-aos="fade-right">HARD</h2></a> 
    </div>
   
    
</div>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- login -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9407364125061598"
     data-ad-slot="2398896389"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<%- include("footer") -%> 